body {
	margin: 				0;
	padding: 				0;
	min-width: 				1122px;
	min-height: 			1750px;

	font-family: 			"PT Sans Narrow", Arial, sans-serif;
	font-size: 				14px;
	line-height: 			24px;
	font-weight:			700;
	color: 					#FFFFFF;
	text-transform: 		uppercase;
	word-break: 			break-word;

	background: 			url("../img/background/barbershop.jpg") no-repeat top center;
	background-color: 		#000000;
}

.inner-page {
	min-height: 			1px;

	color: 					#000000;

	background: 			url("../img/background/light.png") repeat 0 0;
	background-color: 		#FFFFFF;
}

a {
	text-decoration: 		none;
}

img {
	max-width: 				100%;
	height: 				auto;
}

.visually-hidden:not(:focus):not(:active), 
input[type="checkbox"].visually-hidden, 
input[type="radio"].visually-hidden {
	position: 				absolute;

	width: 					1px;
	height: 				1px;
	margin: 				-1px;
	border: 				0;
	padding: 				0;

	white-space: 			nowrap;
	clip-path: 				inset(100%);
	clip: 					rect(0 0 0 0);
	overflow: 				hidden;
}

.button {
	display: 				inline-block;
	padding: 				10px 30px;
	margin-right: 			16px;

	font: 					inherit;
	text-align: 			center;
	vertical-align: 		middle;
	color: 					#FFFFFF;
	text-transform: 		uppercase;

	background-color: 		#000000;
	border: 				none;
}

.button:hover, 
.button:focus,
.button:active {
	background-color: 		#663d15;
}

.button.disabled, 
.button:disabled {
	cursor: 				default;
	opacity: 				0.5;
	background-color: 		#000000;
}


.main-header {
	margin-bottom: 			70px;
}

.inner-header {
	margin-bottom: 			70px;
}

.main-navigation, 
.shop-navigation {
	font-size: 				16px;
	line-height: 			20px;
	color: 					#FFFFFF;
}

.main-navigation {
	display: 				flex;
	flex-direction: 		column;
	align-items: 			center;
}

.main-header-logo {
	order: 					2;
	width: 					369px;
	height: 				153px;
}

.main-navigation-wrapper {
	width: 					100%;
	margin-bottom: 			60px;
	min-height: 			72px;

	background-color: 		#000000;
}

.shop-navigation-wrapper {
	width: 					100%;
	min-height: 			72px;

	background-color: 		#000000;
}

.container {
	width: 					940px;
	margin: 				0 auto;
	padding: 				0 10px;
}

.main-navigation-wrapper .container {
	display: 				flex;
	justify-content: 		space-between;
}

.shop-navigation-wrapper .container {
	display: 				flex;
	justify-content: 		space-between;
}

.page-navigation {
	display: 				flex;
	flex-wrap: 				wrap;
	width: 					620px;
	min-height: 			72px;

	list-style-type: 		none;
}

.shop-page-navigation {
	display: 				flex;
	flex-wrap: 				wrap;
	width: 					720px;
	min-height: 			72px;

	list-style-type: 		none;
}

.user-navigation {
	display: 				flex;
	min-width: 				140px;
	min-height: 			72px;

	list-style-type: 		none;
}

.user-navigation .login-link {
	position: 				relative;
	padding-left: 			50px;
}

.login-link::before {
	content: 				"";

	position: 				absolute;
	top: 					27px;
	left: 					24px;

	width: 					16px;
	height: 				18px;

	background: url("../img/svg/login.svg") no-repeat 0 0;

	opacity: 				0.3;
}

.login-link:hover::before, 
.login-link:focus::before, 
.login-link:active::before {
	opacity: 				1;
}

.page-navigation a,
.user-navigation a, 
.shop-page-navigation a {
	display: 				block;
	padding: 				25px 20px;
	color: 					#FFFFFF;
}

.page-navigation a:hover,
.page-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.shop-page-navigation a:hover, 
.shop-page-navigation a:focus {
	background-color: 		#242424;
}

.shop-page-navigation img:hover, 
.shop-page-navigation img:focus {
	background-color: 		#242424;
}

.shop-navigation-current {
	border-bottom: 			4px #FFFFFF solid;
}

.advantages {
	margin-bottom: 			80px;
}

.advantages-list {
	display: 				flex;
	justify-content: 		space-between;

	list-style-type: 		none;
}

.advantages-item {
	width: 					300px;
	min-height: 			170px;

	text-align: 			center;
}

.advantages-item h3,
.shop-small-navigation h2 {
	font-size: 				30px;
	line-height: 			42px;
}

.advantages-item h3 {
	position: 				relative;

	margin-bottom: 			60px;
}

.advantages-item h3::after {
	content: 				"";

	position: 				absolute;
	bottom: 				-30px;
	left: 					50%;
	margin-left: 			-10px;

	width: 					20px;
	height: 				20px;

	background-color: 		#FFFFFF;

	transform: 				rotate(45deg);
}

.advantages-item p {
	margin: 				0 10px;
}

.index-columns {
	display: 				flex;
	justify-content: 		space-between;
	padding: 				50px 80px;
	margin-bottom: 			35px;

	color: 					#000000;

	background-color: 		#F8F5F2;
	background-image: 		url("../img/background/line.png"),
							url("../img/background/light.png");
	background-repeat: 		no-repeat, repeat;
	background-position: 	center, 0 0;
}

.news {
	width: 					380px;
	min-height: 			340px;
}

.gallery {
	width: 					300px;
	min-height: 			340px;
}

.contacts {
	width: 					380px;
	min-height: 			300px;
}

.enroll {
	width: 					300px;
	min-height: 			300px;
}

.index-columns h2 {
	font-size: 				30px;
	line-height: 			42px;
}

.news-list {
	display: 				flex;
	flex-direction: 		column;

	list-style-type: 		none;
}

.news-item {
	margin-bottom: 			30px;
}

.news-item time {
	text-transform: 		none;
}

.gallery h2 {
	margin-bottom: 			30px;
}

.gallery-container {
	position: 				relative;
	height: 				240px;
}

.gallery-figure {
	margin-bottom: 			35px;
}

.gallery-img {
	background-color: 		#CCCCCC;
	border: 				7px #FFFFFF solid;
}

.gallery-button {
	position: 				absolute;

	box-sizing: 			border-box;
	width: 					140px;
	height: 				44px;
	margin: 				0;
}

.gallery-button-back {
	left: 					0;
}

.gallery-button-next {
	right: 					0;
}

.contacts p {
	margin-bottom: 			25px;
}

.contacts h2 {
	margin-bottom: 			25px;
}

.contacts-contacts, 
.contacts-map {
	margin-bottom: 			100px;
}

.enroll h2 {
	margin-bottom: 			30px;
}

.enroll-info {
	margin-bottom: 			15px;
}

.enroll form {
	display: 				flex;
	flex-wrap: 				wrap;
	justify-content: 		space-between;
}

.enroll-item {
	width: 					140px;
	margin-bottom: 			10px;
}

.enroll-item label {
	display: 				block;
	margin-bottom: 			9px;
	margin-left: 			15px;
}

.enroll input {
	box-sizing: 			border-box;
	width: 					140px;
	padding: 				8px 15px 7px 15px;

	font: 					inherit;

	background-color: 		transparent;
	border: 				2px #000000 solid;
}

.enroll-button {
	display: 				block;
	width: 					100%;
	margin-right: 			0;
	margin-top: 			20px;
}

.enroll input:focus {
	outline: 				none;
	border-color: 			#663d15;
}

footer {
	margin-top: 			65px;
	padding: 				60px 0;
	min-height: 			193px;

	color: 					#FFFFFF;

	background-color: 		#212121;
	background-image: 		url("../img/background/footer.png");
	background-repeat: 		repeat;
	background-position: 	0 0;
}

footer .container {
	display: 				flex;
}

.footer-contacts a {
	color: 					#FFFFFF;

	text-decoration: 		underline;
}

.footer-contacts a:hover, 
.footer-contacts a:focus {
	text-decoration: 		none;
}

.footer-social {
	width: 					140px;

	text-align: 			center;
}

.footer-contacts {
	width: 					300px;
	margin-right: 			100px;
}

.footer-dev {
	width: 					140px;
	margin-left: 			auto;
}

.footer-social ul {
	display: 				flex;
	justify-content: 		space-between;
	flex-wrap: 				wrap;

	list-style-type: 		none;
}

.footer-social p,
.footer-dev p {
	margin-bottom: 			15px;
}

.social-button {
	display: 				flex;
	justify-content: 		center;
	align-items: 			center;
	width: 					43px;
	height: 				43px;
	margin-bottom: 			10px;

	color: 					#FFFFFF;

	background-color: 		#000000;
}

.social-button:hover, 
.social-button:focus {
	background-color: 		#FFFFFF;
}

.social-button:hover path, 
.social-button:focus path {
	fill: 		#000000;
}

.footer-dev {
	text-align: 			center;
}

.footer-dev .button {
	margin-right: 			0;
}

.footer-dev .button:hover, 
.footer-dev .button:focus {
	color: 					#000000;

	background-color: 		#FFFFFF;
}

/**/
.shop-page-navigation {
	list-style-type: none;
}

.shop-small-navigation p {
	position: 				relative;

	display: 				inline-block;
	margin-bottom: 			35px;
	padding-right: 			40px;
}

.shop-small-navigation p::after {
	content: 				"";

	position: 				absolute;
	right: 					13px;
	top: 					5px;

	width: 					14px;
	height: 				14px;

	background-color: 		#000000;

	transform: 				rotate(45deg);
}

.shop-small-navigation span {
	color: 					#ABA9A7;
}

.shop-small-navigation h2 {
	margin-bottom: 			25px;
}

.price-title {
	display: 				flex;
	align-items: 			center;
	margin-bottom: 			55px;

	font-size: 				48px;
	line-height: 			48px;
}

.price-title::before, 
.price-title::after {
	content: 				"";

	width: 					50px;
	height: 				2px;
	flex-grow: 				1;
	flex-shrink: 			0;

	background-color: 		#000000;
}

.price-title::before {
	margin-right: 			25px;
}

.price-title::after {
	margin-left: 			25px;
}

.price-wrapper {
	display: 				flex;
	justify-content: 		space-between;
	margin-bottom: 			55px;
}

.price-wrapper-left {
	width: 		460px;
}

.price-wrapper-right {
	width: 		460px;
}

.price-subtitle {
	margin-bottom: 			40px;

	font-size: 				24px;
	line-height: 			30px;
}

.price-manufactures {
	display: 				flex;
	flex-direction: 		column;

	list-style-type: 		none;
}

.price-manufactures li {
	position: 				relative;

	display: 				flex;
	align-items: 			center;
	margin-bottom: 			10px;
	padding-left: 			20px;
}

.price-manufactures li:last-child {
	margin-bottom: 0;
}

.price-manufactures li::before {
	content: 				"";
	position: 				absolute;
	left: 					0;

	width: 					14px;
	height: 				14px;

	background-color: 		#000000;

	transform: 				rotate(45deg);
}

.price-wrapper-next {
	display: 				flex;
	justify-content: 		space-between;
	flex-wrap: 				wrap;
}

.price-wrapper-next .price-subtitle {
	width: 					460px;
	margin-right: 			460px;
}

.price-wrapper table {
	width: 					100%;

	border: 				2px #000000 solid;
	border-collapse: 		collapse;
}

.price-wrapper tr {
	height: 			40px;
}

.price-wrapper td {
	width: 					50%;
	padding-left: 			20px;

	text-align: 			left;
	border: 				2px #000000 solid;
}

.price-wrapper td:last-child {
	padding-left: 			0;

	text-align: 			center;
}

/**/

.shop-wrapper {
	display: 				flex;
	justify-content: 		space-between;
}

.shop-left-column {
	width: 					200px;

	font-size: 				14px;
	line-height: 			18px;
}

.shop-left-column legend {
	margin-bottom: 			35px;

	font-size: 				24px;
	line-height: 			30px;
}

.shop-left-column ul {
	display: 				flex;
	flex-direction: 		column;

	list-style-type: 		none;
}

.shop-left-column li {
	display: 				flex;
	align-items: 			center;
	margin-bottom: 			15px;
}

.shop-left-column label:hover, 
.shop-left-column label:focus,
.shop-left-column label:active {
	color: 					#663d15;
}

.good-container {
	width: 					700px;
	display: 				flex;
	flex-wrap: 				wrap;
	justify-content: 		space-between;
}

.good {
	min-width: 				220px;
	margin-bottom: 			20px;

	font-size: 				14px;
	line-height: 			18px;

	background-color: 		#CCCCCC;
	box-shadow: 			0 0 5px #CCCCCC;
}

.good-photo {
	margin-bottom: 			7px;

	background-color: 		#F2F2F2;
}

.good p {
	margin-left: 			15px;
	margin-bottom: 			15px;

	text-transform: 		none;
}

.good-price-n-button {
	display: 				flex;
	justify-content: 		center;
	margin-bottom: 			15px;
}

.price {
	display: 				flex;
	width: 					90px;
	text-transform: 		uppercase;
	justify-content: 		center;
	align-items: 			center;

	background-color: 		#D9D9D9;
}

.good-price-n-button .button {
	margin-right: 			0;
}

.page {
	display: 				flex;
	justify-content: 		space-between;
	margin-top: 			40px;
	width: 					193px;

	list-style-type: 		none;
}

.page .button {
	display: 				flex;
	justify-content: 		center;
	align-items: 			center;
	width: 					43px;
	height: 				43px;
	padding: 				0;
	margin-right: 			0;
}

.page-button {
	font-size: 				14px;
	line-height: 			18px;
}

.page-button:hover, 
.page-button:focus, 
.page-button:active {
	background-color: 		#663D15;
}

.page .button.disabled, 
.page .button:disabled {
	color: 					#000000;

	cursor: 				default;
	opacity: 				1;
	background-color: 		#FFFFFF;
}

.item-container {
	display: 				flex;
	justify-content: 		space-between;
	margin-top: 			15px;
}

.item-photo-container {
	display: 				flex;
	flex-wrap: 				wrap;
	justify-content: 		space-between;
	width: 					468px;
}

.item-photo {
	margin-bottom: 			20px;

	background-color: 		#CCCCCC;
}

.item-photo1 {
	flex-grow: 				1;
}

.item-description {
	width: 					390px;
}

.exist-articul {
	display: 				flex;
	justify-content: 		space-between;
	padding-right: 			10px;
	margin-top: 			25px;
	margin-bottom: 			35px;
}

.item-description-full {
	margin-bottom: 			40px;
}

.item-description .good-price-n-button {
	display: 				flex;
	justify-content: 		flex-start;
	margin-bottom: 			55px;
}

.articul {
	color: 					#AEAEAE;
}

.item-list-input-subtitle {
	margin-bottom: 			35px;

	font-size: 				24px;
	line-height: 			30px;
}

.item-list-input {
	display: 				flex;
	flex-direction: 		column;

	list-style-type: 		none;
}

.item-list-input li {
	position: 				relative;

	display: 				flex;
	align-items: 			center;
	margin-bottom: 			10px;
	padding-left: 			20px;
}

.item-list-input li::before {
	content: 				"";

	position: 				absolute;
	left: 					0;

	width: 					14px;
	height: 				14px;

	background-color: 		#000000;

	transform: 				rotate(45deg);
}

/**/

@keyframes bounce {
	0% {
		transform: 			translateY(-2000px);
	}

	70% {
		transform: 			translateY(30px);
	}

	90% {
		transform: 			translateY(-10px);
	}

	100% {
		transform: 			translateY(0px);
	}
}

@keyframes shake {
	0%, 
	100% {
		transform: translateX(0);
	}

	10%, 
	30%, 
	50%, 
	70%, 
	90% {
		transform: translateX(-10px);
	}

	20%, 
	40%, 
	60%, 
	80% {
		transform: translateX(10px);
	}
}

.modal {
	position: 				fixed;

	color: 					#000000;

	background-color: 		#F8F3F0;
	background-image: 		url("../img/background/light.png");
	background-repeat: 		repeat;
	background-position: 	0 0;
	box-shadow: 			inset 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login {
	top: 					120px;
	left: 					50%;

	display: 				none;
	width: 					300px;
	padding: 				50px 80px;
	margin-left: 			-230px;
}

.modal-map {
	top: 					50%;
	left: 					50%;
	margin-top: 			-280px;
	margin-left: 			-390px;

	display: 				none;
	width: 					794px;
	height: 				582px;

	border: 				7px solid #FFFFFF;
}

.modal-show {
	display: 				block;

	animation: 				bounce 0.6s;
}

.modal-error {
	animation:				shake 0.6s;
}

.modal-close {
	position: 				absolute;
	top: 					0;
	right: 					-34px;

	width: 					22px;
	height: 				22px;

	background-color: 		transparent;
	border: 				0;

	cursor: 				pointer;
}

.modal-close::before, 
.modal-close::after {
	content: 				"";

	position: 				absolute;
	top: 					10px;
	left: 					2px;

	width: 					19px;
	height: 				3px;

	background-color: 		#D0D0D0;
}

.modal-close::before {
	transform: 				rotate(45deg);
}

.modal-close::after {
	transform: 				rotate(-45deg);
}

.modal h2 {
	margin-bottom: 			20px;

	font-size: 				30px;
	line-height: 			42px;
}

.modal-login-description {
	margin-bottom: 			10px;
}

.login-form p {
	margin-bottom: 			10px;
}

.login-form input[type="text"], 
.login-form input[type="password"] {
	width: 					100%;
	box-sizing: 			border-box;
	height: 				40px;
	padding: 				10px 15px;
	padding-right: 			40px;

	font: 					inherit;
	color: 					#000000;
	text-transform: 		uppercase;

	background-color: 		#F6F9F3;
	border: 				2px #000000 solid;
}

.login-form input:focus {
	outline: 				none;
	border-color: 			#663D15;
}

.login-checkbox-container, 
.shop-checkbox-container, 
.shop-radio-container {
	position: 				relative;

	display: 				flex;
	flex-wrap: 				wrap;
	align-items: 			center;
	padding-left: 			30px;

	cursor: 				pointer;
}

.login-checkbox-container:hover,
.login-checkbox-container:focus {
	color: 					#663D15;
}

.login-checkbox-container input[type="checkbox"] + .checkbox-indicator, 
.shop-checkbox-container input[type="checkbox"] + .checkbox-indicator, 
.shop-radio-container input[type="radio"] + .radio-indicator {
	position: 				absolute;
	top: 					center;
	left: 					0;

	box-sizing: 			border-box;
	width: 					20px;
	height: 				20px;

	border: 				2px #000000 solid;
}

.login-checkbox-container input[type="checkbox"]:focus + .checkbox-indicator, 
.shop-checkbox-container input[type="checkbox"]:focus + .checkbox-indicator, 
.shop-radio-container input[type="radio"]:focus + .radio-indicator {
	border-color: 			#663D15;
	outline: 				thin dotted;
	outline: 				5px auto -webkit-focus-ring-color;
}

.login-checkbox-container input[type="checkbox"]:checked + .checkbox-indicator::before, 
.login-checkbox-container input[type="checkbox"]:checked + .checkbox-indicator::after, 
.shop-checkbox-container input[type="checkbox"]:checked + .checkbox-indicator::before, 
.shop-checkbox-container input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: 				"";

	position: 				absolute;
	top: 					7px;
	left: 					1px;

	width: 					15px;
	height: 				2px;

	background-color: 		#000000;
}

.login-checkbox-container input[type="checkbox"]:checked + .checkbox-indicator::before, 
.shop-checkbox-container input[type="checkbox"]:checked + .checkbox-indicator::before {
	transform: 				rotate(45deg);
}

.login-checkbox-container input[type="checkbox"]:checked + .checkbox-indicator::after, 
.shop-checkbox-container input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: 				rotate(-45deg);
}

 .shop-radio-container input[type="radio"] + .radio-indicator {
 	border-radius: 			50%;
 }

 .shop-radio-container input[type="radio"]:checked + .radio-indicator::after {
 	content: 				"";

 	position: 				absolute;
 	top: 					3px;
 	left: 					3px;

 	width: 					10px;
 	height: 				10px;
 	border-radius: 			50%;

 	background-color: 		#000000;
 }

.login-icon-user {
	background: 			url("../img/svg/user.svg") no-repeat 270px center;
}

.login-icon-password {
	background: 			url("../img/svg/lock.svg") no-repeat 270px center;
}

.login-form .login-help {
	display: 				flex;
	justify-content: 		space-between;
	align-items: 			center;
	flex-wrap: 				wrap;
}

.restore {
	color: 					#000000;
	text-decoration: 		underline;
}

.restore:hover, 
.restore:focus {
	text-decoration: 		none;
}

.login-form .button {
	width: 					100%;
	margin-right: 			0;
}